
<div class="parent">
  <div class="container" [ngClass]="isSignDivVisiable ? 'active' :'' " id="container">
    <div class="form-container sign-up" >
      <form>
        <h1>New user</h1>
        <div class="social-icons">
          <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registeration</span>

                        <input type="email" name="email" [(ngModel)]="emailService.emailID" placeholder="Email">
                        <input type="password" name="password"  [(ngModel)]="newPassword" placeholder="Password">
                        <button (click)="resetPassword()">Reset password</button>
      </form>
    </div>
    <div class="form-container sign-in" >
      <form>
        <h1>Sign In</h1>
        <div class="social-icons">
          <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <span>or use your email password</span>
        <input type="email" name="email" [(ngModel)]="emailService.emailID" placeholder="Email">
        <input type="password" name="password"   [(ngModel)]="password" placeholder="Password">
        <a href="#">→ Forgot Your Password? ←</a>
        <button (click)="onLogin()">Sign In</button>
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>Online Submission Ticket</h1>
          <p>Login with your email id and password</p>
          <button type="button" class="hidden" id="login" (click)="isSignDivVisiable = false">Sign In</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1> Online Submission Ticket </h1>
          <p>Register with your email id and password </p>
          <button type="button" class="hidden" id="register" (click)="isSignDivVisiable = true">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
