<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Cards</title>
  <link rel="stylesheet" href="dashboard.component.css">
</head>
<body>



<div class="card" *ngFor="let lab of cardDetails?.labs" [routerLink]="['/batchdetails', lab.batch]" >
  <h3 style="color: white;">LAB : {{ lab.batch }}</h3>

  <p style="color: white;">{{ lab
    .class }} - {{ lab.subject }}</p>
</div>
<!-- Use safe navigation operator to handle potential null or undefined values -->
<div class="card" *ngFor="let subject of cardDetails?.subjects" [routerLink]="['/classdetails', subject.class]">
  <h3 style="color: white;">{{ subject.class }}</h3>
  <p style="color: white;">{{ subject.class }} - {{ subject.subject }}</p>
  <!-- Check if subject.batch is defined before accessing it -->
  <p style="color: white;" *ngIf="subject.batch">Batch: {{ subject.batch }}</p>
</div>



</body>
</html>
